<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <appSettings>
    <add key="accessKeyId" value="AKIAIIUQ7HTTTRF4BPWQ" />
    <add key="secretKey" value="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" />
    <add key="regionEndpointString" value="USWest2" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
    <add key="AWSProfileName" value="test-aws-profile"/>
  </appSettings>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=(local);Integrated Security=False;User ID=sa;Password=123456;Connect Timeout=20;Encrypt=False;TrustServerCertificate=False; Initial Catalog=Framework" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <variable name="logDirectory" value="C:/logs/" />
    <extensions>
      <add assembly="Framework.Utils.NLog" />
    </extensions>
    <targets>
      <target name="fileLogAllLevels" type="File" fileName="${logDirectory}/${shortdate}.log" />
      <target name="elastic" type="BufferingWrapper" flushTimeout="5000">
        <target type="ElasticSearch" uri="http://localhost:9200" layout="${message}" includeAllProperties="true">
          <field name="dir" layout="${basedir}" />
          <field name="logger" layout="${logger}" />
          <field name="process" layout="${processname}" />
          <field name="level" layout="${level}" />
          <field name="machinename" layout="${machinename}" />
          <field name="username" layout="${identity}" />
          <field name="callsite" layout="${callsite:filename=true}" />
          <field name="threadid" layout="${threadid}" />
          <field name="logexception" layout="${exception}" />
          <field name="stacktrace" layout="${stacktrace}" />
          <field name="timestamp" layout="${longdate}" />
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="fileLogAllLevels, elastic" />
    </rules>
  </nlog>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="adonet.batch_size">50</property>
      <property name="show_sql">true</property>
      <property name="command_timeout">20</property>
      <property name="query.substitutions">true 1, false 0</property>
      <property name="hbm2ddl.keywords">none</property>
    </session-factory>
  </hibernate-configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>